In [2]:
import requests
import re
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# dusr 

NAME = []
RATING = []
AREA = []
DISHES = []
APPROX = []
DISC = []

city = ['ahmedabad', 'mumbai', 'pune', 'bengaluru','hyderabad']
for c in city:
    for i in range(1, 16):   # pages 1 to 15
        # URL with f-string
        url = f'https://www.eazydiner.com/restaurants?date=2025-12-27&meal_period=lunch&location={c}&sort=popularity&page={i}'
    
        response = requests.get(url, headers={
    "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64)",
    "Accept-Language":"en-US,en;q=0.9"
}, timeout=15)
        html_code = response.text

        soup = BeautifulSoup(html_code, "html.parser")  # add parser for safety

        title = soup.find_all('div', attrs={"class":"flex align-v-center flex-between"})
        for i in title:
            NAME.append(i.text.strip())
        rating = soup.find_all('tspan')
        for i in rating:
            j = i.text
            if j != '%':
                if j:
                    RATING.append(j)
                else:
                    RATING.append(np.nan)
        area = soup.find_all('div', attrs={'class':"font-12 ellipsis flex listing_res_address__LuVOm"})
        for i in area:
            AREA.append(i.text)
        dishes = soup.find_all('div', class_='font-12 flex flex-between ellipsis listing_cuisine_aprox__3qehk')
        for i in dishes:
            if i:
                DISHES.append(i.text.strip())
            else:
                DISHES.append(np.nan.strip())
        txt = []
        approx = soup.find_all('div', class_='flex align-v-center')
        for i in approx:
            txt.append(i.text)
        for i in txt:
            if re.match("₹ +\d+ [A-Za-z].+", i):
                APPROX.append(i)
            else:
                pass
        discount = soup.find_all('div', class_='ellipsis listing_offer_text__LXKw1')
        for i in discount:
            DISC.append(i.text)

print(len(NAME))
print(len(RATING))
print(len(AREA))
print(len(DISHES))
print(len(APPROX))
print(len(DISC))


#pahil

data={
    'NAME': NAME,
    'RATING': RATING,
    'AREA': AREA,
    'DISHES': DISHES,
    'APPROX': APPROX,
    'DISC': DISC
}
df = pd.DataFrame(data)
df

675
675
675
675
675
675

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad | View All(22) ...",Bakery₹ 500 for two approx.,₹ 500 for two approx.,35% Off + 25% Off
1,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe₹ 700 for two approx.,₹ 700 for two approx.,10% Off + 25% Off
2,La Milano Pizzeria2.5,2.5,"Prahlad Nagar, West Ahmedabad | View All(2) O...",Pizza₹ 500 for two approx.,₹ 500 for two approx.,25% Off + 25% Off
3,The Shaka Cafe3.9,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine₹ 1000 for two approx.,₹ 1000 for two approx.,10% Off + 25% Off
4,Sundew4.4,4.4,"Hotel Ramada, Ahmedabad",Multicuisine₹ 1400 for two approx.,₹ 1400 for two approx.,10% Off + 25% Off
...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 19535.0,5.0,"Jubilee Hills, Hyderabad | View All(24) Outlets",Biryani₹ 800 for two approx.,₹ 800 for two approx.,15% Off + 25% Off
671,Abids Bistro 4.4,4.4,"Royalton Hotel, Hyderabad",Multicuisine₹ 1200 for two approx.,₹ 1200 for two approx.,30% Off + 25% Off
672,Malnadu Kitchen4.2,4.2,"Kompally, Hyderabad",Multicuisine₹ 900 for two approx.,₹ 900 for two approx.,15% Off + 25% Off
673,Aroma Multi Cuisine Restaurant3.7,3.7,"Gachibowli, Hyderabad",Multicuisine₹ 1200 for two approx.,₹ 1200 for two approx.,35% Off + 25% Off
674,Barkaas Indo-Arabic Restaurant4.4,4.4,"S R Nagar, Hyderabad | View All(3) Outlets",Mandi₹ 600 for two approx.,₹ 600 for two approx.,15% Off + 25% Off

In [3]:

df.to_csv("eazydiner_data.csv", index=False, encoding="utf-8")