In [33]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re

In [34]:
df = pd.read_csv('eazydiner_data.csv')

In [35]:
df.head()

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad | View All(22) ...",Bakery₹ 500 for two approx.,₹ 500 for two approx.,35% Off + 25% Off
1,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe₹ 700 for two approx.,₹ 700 for two approx.,10% Off + 25% Off
2,La Milano Pizzeria2.5,2.5,"Prahlad Nagar, West Ahmedabad | View All(2) O...",Pizza₹ 500 for two approx.,₹ 500 for two approx.,25% Off + 25% Off
3,The Shaka Cafe3.9,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine₹ 1000 for two approx.,₹ 1000 for two approx.,10% Off + 25% Off
4,Sundew4.4,4.4,"Hotel Ramada, Ahmedabad",Multicuisine₹ 1400 for two approx.,₹ 1400 for two approx.,10% Off + 25% Off

In [36]:
df['AREA'] = df['AREA'].str.replace('\xa0 \| View All\(\d+\) Outlets', '', regex=True)

In [37]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery₹ 500 for two approx.,₹ 500 for two approx.,35% Off + 25% Off
1,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe₹ 700 for two approx.,₹ 700 for two approx.,10% Off + 25% Off
2,La Milano Pizzeria2.5,2.5,"Prahlad Nagar, West Ahmedabad",Pizza₹ 500 for two approx.,₹ 500 for two approx.,25% Off + 25% Off
3,The Shaka Cafe3.9,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine₹ 1000 for two approx.,₹ 1000 for two approx.,10% Off + 25% Off
4,Sundew4.4,4.4,"Hotel Ramada, Ahmedabad",Multicuisine₹ 1400 for two approx.,₹ 1400 for two approx.,10% Off + 25% Off
...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 19535.0,5.0,"Jubilee Hills, Hyderabad",Biryani₹ 800 for two approx.,₹ 800 for two approx.,15% Off + 25% Off
671,Abids Bistro 4.4,4.4,"Royalton Hotel, Hyderabad",Multicuisine₹ 1200 for two approx.,₹ 1200 for two approx.,30% Off + 25% Off
672,Malnadu Kitchen4.2,4.2,"Kompally, Hyderabad",Multicuisine₹ 900 for two approx.,₹ 900 for two approx.,15% Off + 25% Off
673,Aroma Multi Cuisine Restaurant3.7,3.7,"Gachibowli, Hyderabad",Multicuisine₹ 1200 for two approx.,₹ 1200 for two approx.,35% Off + 25% Off
674,Barkaas Indo-Arabic Restaurant4.4,4.4,"S R Nagar, Hyderabad",Mandi₹ 600 for two approx.,₹ 600 for two approx.,15% Off + 25% Off

In [38]:
df['DISHES'] = df['DISHES'].str.replace('\₹\s(\d*)\sfor two approx', '', regex=True)

In [39]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,₹ 500 for two approx.,35% Off + 25% Off
1,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,₹ 700 for two approx.,10% Off + 25% Off
2,La Milano Pizzeria2.5,2.5,"Prahlad Nagar, West Ahmedabad",Pizza.,₹ 500 for two approx.,25% Off + 25% Off
3,The Shaka Cafe3.9,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine.,₹ 1000 for two approx.,10% Off + 25% Off
4,Sundew4.4,4.4,"Hotel Ramada, Ahmedabad",Multicuisine.,₹ 1400 for two approx.,10% Off + 25% Off
...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 19535.0,5.0,"Jubilee Hills, Hyderabad",Biryani.,₹ 800 for two approx.,15% Off + 25% Off
671,Abids Bistro 4.4,4.4,"Royalton Hotel, Hyderabad",Multicuisine.,₹ 1200 for two approx.,30% Off + 25% Off
672,Malnadu Kitchen4.2,4.2,"Kompally, Hyderabad",Multicuisine.,₹ 900 for two approx.,15% Off + 25% Off
673,Aroma Multi Cuisine Restaurant3.7,3.7,"Gachibowli, Hyderabad",Multicuisine.,₹ 1200 for two approx.,35% Off + 25% Off
674,Barkaas Indo-Arabic Restaurant4.4,4.4,"S R Nagar, Hyderabad",Mandi.,₹ 600 for two approx.,15% Off + 25% Off

In [40]:
df['APPROX'] = df['APPROX'].str.replace('\D', '', regex=True)

In [41]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off
1,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,10% Off + 25% Off
2,La Milano Pizzeria2.5,2.5,"Prahlad Nagar, West Ahmedabad",Pizza.,500,25% Off + 25% Off
3,The Shaka Cafe3.9,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine.,1000,10% Off + 25% Off
4,Sundew4.4,4.4,"Hotel Ramada, Ahmedabad",Multicuisine.,1400,10% Off + 25% Off
...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 19535.0,5.0,"Jubilee Hills, Hyderabad",Biryani.,800,15% Off + 25% Off
671,Abids Bistro 4.4,4.4,"Royalton Hotel, Hyderabad",Multicuisine.,1200,30% Off + 25% Off
672,Malnadu Kitchen4.2,4.2,"Kompally, Hyderabad",Multicuisine.,900,15% Off + 25% Off
673,Aroma Multi Cuisine Restaurant3.7,3.7,"Gachibowli, Hyderabad",Multicuisine.,1200,35% Off + 25% Off
674,Barkaas Indo-Arabic Restaurant4.4,4.4,"S R Nagar, Hyderabad",Mandi.,600,15% Off + 25% Off

In [42]:
def extract_discounts(offer):
    return re.findall(r'(\d+)%', str(offer))

df['DISCOUNTS'] = df['DISC'].apply(extract_discounts)
df['DISCOUNTS'].apply(pd.Series)

      0   1
0    35  25
1    10  25
2    25  25
3    10  25
4    10  25
..   ..  ..
670  15  25
671  30  25
672  15  25
673  35  25
674  15  25

[675 rows x 2 columns]

In [43]:
df['DISCOUNTS'] = df['DISCOUNTS'].apply(lambda x: sum(map(int, x)) if isinstance(x, list) else 0)
df['DISCOUNTS'].head()

0    60
1    35
2    50
3    35
4    35
Name: DISCOUNTS, dtype: int64

In [44]:
df.isnull().sum()

NAME         0
RATING       0
AREA         0
DISHES       0
APPROX       0
DISC         0
DISCOUNTS    0
dtype: int64

In [45]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS
0,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60
1,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,10% Off + 25% Off,35
2,La Milano Pizzeria2.5,2.5,"Prahlad Nagar, West Ahmedabad",Pizza.,500,25% Off + 25% Off,50
3,The Shaka Cafe3.9,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine.,1000,10% Off + 25% Off,35
4,Sundew4.4,4.4,"Hotel Ramada, Ahmedabad",Multicuisine.,1400,10% Off + 25% Off,35
...,...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 19535.0,5.0,"Jubilee Hills, Hyderabad",Biryani.,800,15% Off + 25% Off,40
671,Abids Bistro 4.4,4.4,"Royalton Hotel, Hyderabad",Multicuisine.,1200,30% Off + 25% Off,55
672,Malnadu Kitchen4.2,4.2,"Kompally, Hyderabad",Multicuisine.,900,15% Off + 25% Off,40
673,Aroma Multi Cuisine Restaurant3.7,3.7,"Gachibowli, Hyderabad",Multicuisine.,1200,35% Off + 25% Off,60
674,Barkaas Indo-Arabic Restaurant4.4,4.4,"S R Nagar, Hyderabad",Mandi.,600,15% Off + 25% Off,40

In [46]:
# df = df.drop(columns=['Discounts'])

In [47]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS
0,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60
1,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,10% Off + 25% Off,35
2,La Milano Pizzeria2.5,2.5,"Prahlad Nagar, West Ahmedabad",Pizza.,500,25% Off + 25% Off,50
3,The Shaka Cafe3.9,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine.,1000,10% Off + 25% Off,35
4,Sundew4.4,4.4,"Hotel Ramada, Ahmedabad",Multicuisine.,1400,10% Off + 25% Off,35
...,...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 19535.0,5.0,"Jubilee Hills, Hyderabad",Biryani.,800,15% Off + 25% Off,40
671,Abids Bistro 4.4,4.4,"Royalton Hotel, Hyderabad",Multicuisine.,1200,30% Off + 25% Off,55
672,Malnadu Kitchen4.2,4.2,"Kompally, Hyderabad",Multicuisine.,900,15% Off + 25% Off,40
673,Aroma Multi Cuisine Restaurant3.7,3.7,"Gachibowli, Hyderabad",Multicuisine.,1200,35% Off + 25% Off,60
674,Barkaas Indo-Arabic Restaurant4.4,4.4,"S R Nagar, Hyderabad",Mandi.,600,15% Off + 25% Off,40

In [48]:
df['NAME'] = df['NAME'].str[:-3]

In [49]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS
0,The Chocolate Room,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60
1,Bella Aroma,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,10% Off + 25% Off,35
2,La Milano Pizzeria,2.5,"Prahlad Nagar, West Ahmedabad",Pizza.,500,25% Off + 25% Off,50
3,The Shaka Cafe,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine.,1000,10% Off + 25% Off,35
4,Sundew,4.4,"Hotel Ramada, Ahmedabad",Multicuisine.,1400,10% Off + 25% Off,35
...,...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 1953,5.0,"Jubilee Hills, Hyderabad",Biryani.,800,15% Off + 25% Off,40
671,Abids Bistro,4.4,"Royalton Hotel, Hyderabad",Multicuisine.,1200,30% Off + 25% Off,55
672,Malnadu Kitchen,4.2,"Kompally, Hyderabad",Multicuisine.,900,15% Off + 25% Off,40
673,Aroma Multi Cuisine Restaurant,3.7,"Gachibowli, Hyderabad",Multicuisine.,1200,35% Off + 25% Off,60
674,Barkaas Indo-Arabic Restaurant,4.4,"S R Nagar, Hyderabad",Mandi.,600,15% Off + 25% Off,40

In [50]:
locations = ['Ahmedabad', 'Mumbai', 'Pune', 'Bengaluru','Hyderabad']
loc = np.repeat(locations, 135)
df['LOCATION'] = loc

In [51]:
df.iloc[:137,:]

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS,LOCATION
0,The Chocolate Room,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60,Ahmedabad
1,Bella Aroma,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,10% Off + 25% Off,35,Ahmedabad
2,La Milano Pizzeria,2.5,"Prahlad Nagar, West Ahmedabad",Pizza.,500,25% Off + 25% Off,50,Ahmedabad
3,The Shaka Cafe,3.9,"Prahlad Nagar, West Ahmedabad",Multicuisine.,1000,10% Off + 25% Off,35,Ahmedabad
4,Sundew,4.4,"Hotel Ramada, Ahmedabad",Multicuisine.,1400,10% Off + 25% Off,35,Ahmedabad
...,...,...,...,...,...,...,...,...
132,Daawat-E-Khaas,3.9,"Navrangpura, West Ahmedabad",Indian.,1000,10% Off + 25% Off,35,Ahmedabad
133,The Project Cafe,4.3,"Ambavadi, West Ahmedabad",Cafe.,1600,10% Off + 25% Off,35,Ahmedabad
134,Mirch Masala,5.0,"Infocity, Gandhinagar",North Indian.,1200,15% Off + 25% Off,40,Ahmedabad
135,Butterfly High,4.7,"Vikhroli, Central Mumbai",Multicuisine.,3000,25% Off,25,Mumbai
136,Novaara,4.2,"Malad West, Western Suburbs",Multicuisine.,1800,25% Off,25,Mumbai

In [52]:
df[['AREA', 'City']] = df['AREA'].str.split(',', n=1, expand=True)

df = df.drop(columns=['City'])

In [53]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS,LOCATION
0,The Chocolate Room,5.0,Prahlad Nagar,Bakery.,500,35% Off + 25% Off,60,Ahmedabad
1,Bella Aroma,4.6,Crowne Plaza,Cafe.,700,10% Off + 25% Off,35,Ahmedabad
2,La Milano Pizzeria,2.5,Prahlad Nagar,Pizza.,500,25% Off + 25% Off,50,Ahmedabad
3,The Shaka Cafe,3.9,Prahlad Nagar,Multicuisine.,1000,10% Off + 25% Off,35,Ahmedabad
4,Sundew,4.4,Hotel Ramada,Multicuisine.,1400,10% Off + 25% Off,35,Ahmedabad
...,...,...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 1953,5.0,Jubilee Hills,Biryani.,800,15% Off + 25% Off,40,Hyderabad
671,Abids Bistro,4.4,Royalton Hotel,Multicuisine.,1200,30% Off + 25% Off,55,Hyderabad
672,Malnadu Kitchen,4.2,Kompally,Multicuisine.,900,15% Off + 25% Off,40,Hyderabad
673,Aroma Multi Cuisine Restaurant,3.7,Gachibowli,Multicuisine.,1200,35% Off + 25% Off,60,Hyderabad
674,Barkaas Indo-Arabic Restaurant,4.4,S R Nagar,Mandi.,600,15% Off + 25% Off,40,Hyderabad

In [54]:
df = df.rename(columns={'AREA':'ADDRESS', 'APPROX':'APPROX_PRICE','LOCATION':'CITY'})

In [55]:
final_cols = [
    'NAME',
    'RATING',
    'ADDRESS', 
    'CITY', 
    'DISHES', 
    'APPROX_PRICE', 
    'DISCOUNTS'
]
df = df[final_cols]

In [56]:
df.isnull().sum()

NAME            0
RATING          0
ADDRESS         0
CITY            0
DISHES          0
APPROX_PRICE    0
DISCOUNTS       0
dtype: int64

In [57]:
df.duplicated().sum()

np.int64(0)

In [58]:
df.shape

(675, 7)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          675 non-null    object
 1   RATING        675 non-null    float64
 2   ADDRESS       675 non-null    object
 3   CITY          675 non-null    object
 4   DISHES        675 non-null    object
 5   APPROX_PRICE  675 non-null    object
 6   DISCOUNTS     675 non-null    int64
dtypes: float64(1), int64(1), object(5)
memory usage: 37.0+ KB

In [60]:
df.to_csv('ED_cleandata.csv', index=False)

In [61]:
df

,NAME,RATING,ADDRESS,CITY,DISHES,APPROX_PRICE,DISCOUNTS
0,The Chocolate Room,5.0,Prahlad Nagar,Ahmedabad,Bakery.,500,60
1,Bella Aroma,4.6,Crowne Plaza,Ahmedabad,Cafe.,700,35
2,La Milano Pizzeria,2.5,Prahlad Nagar,Ahmedabad,Pizza.,500,50
3,The Shaka Cafe,3.9,Prahlad Nagar,Ahmedabad,Multicuisine.,1000,35
4,Sundew,4.4,Hotel Ramada,Ahmedabad,Multicuisine.,1400,35
...,...,...,...,...,...,...,...
670,Paradise Biryani - A Legend since 1953,5.0,Jubilee Hills,Hyderabad,Biryani.,800,40
671,Abids Bistro,4.4,Royalton Hotel,Hyderabad,Multicuisine.,1200,55
672,Malnadu Kitchen,4.2,Kompally,Hyderabad,Multicuisine.,900,40
673,Aroma Multi Cuisine Restaurant,3.7,Gachibowli,Hyderabad,Multicuisine.,1200,60
674,Barkaas Indo-Arabic Restaurant,4.4,S R Nagar,Hyderabad,Mandi.,600,40